<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoApplicationTestSuite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="com.example.demo.TestResultListener"/>
    </listeners>

    <test name="Full Project Tests">
        <classes>
            <class name="com.example.demo.FullProjectTest"/>
        </classes>
    </test>

</suite>
